/* header */
.sectionheader {
  width: 100%;
  /* height: 44px; */
  background: rgba(8, 21, 38, 1);
  display:flex;
  justify-content:space-around;
}

.nav-bg{
  background:#081526!important;
  /* color:#fff!important; */
}
.bg-color{
  color:#fff!important;
  font-size:12px;
  -webkit-transform: scale(0.9)
}

.rightBtn{
  display: none;
}

.link li .active {
  color: #30B6BB!important;
}

/* footer */

.footer {
  width: 100%;
  height: 200px;
  background: rgba(8, 21, 38, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size:12px;
}

.footer .qccode {
  width: 60px;
  height: 60px;
  margin: 6px 0;
  background: url(../img/WechatIMG61@2x.png) center center no-repeat;
  background-size:contain;
}

.footer P {
  text-align: center;
}

.footer p:nth-of-type(1) {
  color: #BBBBBB;
  font-size: 7px;
}

.footer p:nth-of-type(2) {
  color: #fdfdfd;
  font-size: 7px;
  margin: 15px 0 10px 0;
}

.footer p:nth-of-type(3) {
  color: #C8C8C8;
  font-size: 7px;
}

@media screen and (max-width:767px) {
  .right {
    display: none;
  }

  .header {
    width: 86%;
  }

  .rightBtn {
    display: block;
    color: #ccc;
    float: right;
    clear: none;
    margin-top: 12px;
  }

  .navigitionUl {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;

  }

  .navigitionUl li {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #ccc;
  }

  .navigitionUl li a {
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;

  }
}