/* main banner */

.main {
    width: 100%;
    background: #081526;
    height: 445px;
    box-sizing: border-box;
    padding: 71px 135px 58px 154px;
    position: relative;
}

.helpdoceMain {
    width: 100%;
    padding: 0;
    background: url(../img/img2/banner.png) center center no-repeat;
    background-size: cover;
    
}

/* .bannerImg {
    border: dashed 1px #666;
} */

.zIndexImg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

/* gridmain */

.grid-main {
    width: 100%;
    height: 298px;
    padding: 39px 0 49px 0;
    box-sizing: border-box;
}

.grid-main h2,
.grid-main h4 {
    text-align: center;
    color: #333;
}

.grid-main h2 {
    font-weight: bold;
    font-size: 15px;
    font-family: '苹方 粗体'
}

.grid-main h4 {
    font-size: 7px;
    font-family: '苹方 常规';
    margin-top: 11px;
}

.grid-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.grid-ul li {
    width: 25%;
    display: flex;
    justify-content: center;
}

.grid-ul li a {
    display: flex;
    width: 184px;
    height: 130px;
    background: linear-gradient(90deg, rgba(49, 182, 185, 1) 0%, rgba(50, 182, 185, 0.22) 100%);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* .grid-ul li a img {
    border: dashed 1px #666666;
} */

.grid-text {
    font-size: 12px;
    color: #fdfdfd;
    font-family: '苹方 常规'
}

/* --------=========== */

.bottom-main {
    width: 100%;
    height: 468px;
    background: #081526;
    padding: 35px 0 49px;
    box-sizing: border-box;
    border-bottom: solid 1px #eeeeee;

}

.bottom-main h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    color: #fff;
    font-family: '苹方 粗体'
}

.imgUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}



.imgUl li p {
    color: #fff;
    font-size: 12px;
    font-family: '苹方 中等';
    margin: 12px 0;
    text-align: center;
}

.docLink {
    display: flex;
    justify-content: center;
}

.docLink a {
    display: block;
    width: 123px;
    height: 41px;
    background: rgba(49, 183, 187, 1);
    opacity: 0.65;
    line-height: 41px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

/* 帮助与文档 */

.sectionArticle {
    width: 100%;
    height: 628px;
    padding-left: 5px;
    box-sizing: border-box;
}

.sectionArticle h2 {
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #999999;
    line-height: 65px;
    color: #333333;
    font-size: 15px;
}

.Articl {
    width: 100%;
    height: 100%;
}

.leftArticl {
    width: 20%;
    height: 100%;
    border-right: solid 1px #999999;
    margin-top: 25px;
    float: left;
}

.rightArticl {
    width: 75%;
    display: inline-block;
    height: 100%;
    float: left;
    margin-left: 2%;
    padding-top: 25px;
}
/* ================== */
@media screen and (max-width:767px){
    .main{
        padding:10%;
        height:175px;
        background: #081526 url(../img/img1/banner.png) center center no-repeat;
        background-size:cover;
    }
    .main .zIndexImg{
        display:block;  
        width:60%;
    }
    .main img{
        display:none;
    }


    .grid-main,.bottom-main{
        height:auto;
    }
    .grid-ul {
        flex-flow:row wrap;
        justify-content: space-around;  
    }
    .grid-ul li{
        width:45%;
    }
    .grid-ul li:nth-of-type(3), .grid-ul li:nth-of-type(4){
        margin-top:10px;
    }
    .imgUl{
        flex-flow: row wrap;
        padding:0 3%;
    }
}